<launch>
    <!-- Launch Gazebo  -->
    <include file="$(find dual_65B_arm_gazebo)/launch/arm_world.launch" />
    <!-- ros_control arm launch file -->
    <include file="$(find dual_65B_arm_gazebo)/launch/arm_gazebo_states.launch" />
    <!-- ros_control trajectory control dof arm launch file -->
    <include file="$(find dual_65B_arm_gazebo)/launch/arm_65_trajectory_controller.launch" />
    <!-- moveit launch file -->
    <include file="$(find dual_65B_arm_moveit_config)/launch/moveit_65B_planning_execution_gazebo.launch"/>
</launch>
