<launch>

  <!-- these are the arguments you can pass this launch file, for example paused:=true -->
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>
   <arg name="world_name" default="$(find dual_75B_arm_gazebo)/worlds/no_gravity_world.world" /> #定义参数用于指定Gazebo仿真中要加载的世界文件
  <!-- 用于启动整个Gazebo仿真环境 -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)" /> #加载指定的世界文件
    <arg name="debug" value="$(arg debug)" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="headless" value="$(arg headless)"/>
  </include>
  
<!-- 用于保存机器人模型路径 -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find overseas_75_b_v_description)/urdf/overseas_75_b_v_description_rmg24.urdf.xacro'" /> 

<!-- 用于将机器人模型放置在gazebo中 -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
	args="-urdf -model embodied -param robot_description -x 0 -y 0 -z 0.3 "/> 
</launch>


